body {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  border: solid #aaa;
}

h1 {
  text-align: center;
}

.agradecimento {
  border: 2px solid #333;
  border-radius: 8px;
  color: #333;
  font-size: 0.8em;
  margin-bottom: 15px;
  max-width: 100vh;
  outline: none;
  padding: 15px;
  width: 100%;
}

.dev {
  background-color: #aaa;
  border: rgba(51, 51, 51, 0.494) solid 2px;
  border-radius: 8px;
  padding: 10px;
  margin-top: 10px;
  font-size: 1em;
}

.playerInfo {
  color: #333;
  padding: 10px;
  margin-top: 10px;
  font-size: 1em;
  text-align: left;
}

.text {
  padding: 5px;
}

.buttons {
  font-size: 1em;
  display: inline-block;
  width: 50vh;
}

.button {
  background-color: #eee;
  border-radius: 8px;
  color: #aaa;
  cursor: auto;
  max-width: 260px;
  padding: 15px;
  width: 100%;
  border: solid 2px #333;
}

.button:hover {
  background-color: #ee665c;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.menu {
  float: right;
}
